* {
  margin: 0;
}
section {
  background-color: #13154e;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login {
  display: flex;
  justify-content: center;
}

.login-form {
  text-align: center;
  padding: 3%;
  background-color: white;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}
form {
  text-align: center;
}
#submit {
  width: 50%;
  background-color: hsla(238, 61%, 19%, 0.61);
  color: white;
}
.random {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}
.login input {
  border-radius: 80px;
}
::placeholder {
  color: hsl(238, 61%, 19%);
  text-align: center;
}
.form-outline {
  margin: auto;
}
